*.mp3
*.mp4
*.jpg
*.png
*.log
*.json
__pycache__/
*-oauth2.json
client_secrets.json
voting/
*\uploadSettings.txt
uploadedIDs_old.txt
uploadedIDs.txt
__pycache__
lib
uploadSettings.txt
renameArtist/.idea/.gitignore
renameArtist/.idea/inspectionProfiles/profiles_settings.xml
renameArtist/.idea/misc.xml
renameArtist/.idea/modules.xml
renameArtist/.idea/renameArtist.iml
renameArtist/.idea/vcs.xml
**/.idea/
