#left {
    background-color: darkgreen;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
}

#right {
    background-color: darkgoldenrod;
    width: 100%;
    margin: 0;
    padding: 0;
    right: 0;
}

body {
    display: grid;
    grid-template-rows: 10px auto;
    grid-template-columns: 1fr 1fr;
}

#leftTextArea {
    width: 100%;
    height: auto;
}

#rightGrid {
    display: grid;
    grid-template-columns: auto;
}

.strike {
    text-decoration: line-through;
}